# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__

+ Add comments to code cell.
+ Create markdown cells.
+ Add ordered and unordered lists to markdown cells.
+ Format content markdown cells with heading styles

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. SQL
4. Scala
5. Java
6. C ++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. TensorFlow
3. NumPy
4. Seaborn
5. Vegas

|Data Science Tools|
------------------
|Jupyter Notebooks|
|R Studio|
|Zeppelin Notebooks|
|Spyder|
|Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
RAGHAV BINDRA